.about_me {
  width: 90vw;
  margin: 1rem auto;
  background-color: #ccc;
}

h1 {
  padding: 2rem 0;
  color: blueviolet;
}
p {
  padding: 1rem;
}

footer {
  background-color: aquamarine;
}

footer p {
  text-align: center;
}

/* a:link {
  color: black;
} */
